apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-multus-ds
  namespace: kube-system
spec:
  template:
    spec:
      containers:
      - name: kube-multus
        volumeMounts:
        - name: multus-cfg
          mountPath: /tmp/multus-conf
          $patch: delete
      volumes:
        - name: multus-cfg
          $patch: delete
